@font-face {
    font-family: uni-condensed;
    src: url("fonts/uni05_53.ttf");
}

@font-face {
    font-family: uni;
    src: url("fonts/uni05_54.ttf");
}

@keyframes blink {
    from { opacity: 0.5 }
    to       { opacity: 1.0 }
}

/* Page */

html { background: none }

body {
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: #101;
  color: #FFF;
  padding: 0;
  font-size: 14px;
}

#wrap {
  padding: 0;
  border: none;
  background: none;
  max-width: 1300px;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

a:link, a:visited {
  color: #FF422E;
  transition: all 0.2s;
}

a:link:hover, a:visited:hover {
  color: #FF8C80 !important;
  text-decoration: none !important;
}

.post:target h3 a {
    color: #FF422E;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

/* Buttons */

.button, .button:hover, input.button1, input.button1:hover, input.button2, input.button2:hover, select {
  background: fixed repeat top url("images/banner.jpg");
  border: 1px solid #5AB;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.75);
  text-shadow: none !important;
  transition: all .2s;
}

input.button1, input.button2, select {
  font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica, sans-serif;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 400;
}

.button span, .button i::before, input.button1, input.button2, select {
  color: #FFF;
  text-shadow: 1px 1px 4px #000;
  transition: all .2s;
}

.button:hover span, .button:hover i::before, input.button1:hover, input.button2:hover, select:hover {
  color: #4DF;
}

/* Textareas */

textarea.inputbox, input.inputbox {
  background-color: #000;
  border: 1px solid #5AB;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  transition: all .2s;
  color: #FFF;
}

.inputbox:hover, .inputbox:focus { border-color:#4DF }

/* Panels */

/*.panel {
  background: fixed repeat top url("images/banner.jpg");
  background-color: #222;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.75);
}*/

/* Header */

#banner {
    width: 100%;
}

.headerbar {
  margin: 0;
  padding: 0;
}

/* Search */

.search-box {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  border: 1px solid #5AB;
  transition: all .2s;
}

.search-box:hover { border-color: #4DF }

input.search, input.search:hover, input.search:focus, .button-search, .button-search:hover, .button-search-end, .button-search-end:hover {
  background: #000;
  color: #FFF;
  border: none;
  box-shadow: none;
}

#forum-search input.search, #topic-search input.search { height: 20px }

.button-search i::before, .button-search-end i::before {
  transition: all 0.2s;
  color: #888;
}

.button-search:hover i::before, .button-search-end:hover i::before { color: #4DF }

/* Navig */

.navbar {
  background-color: #011F2C;
  width: 100%;
}

.navbar .inner {
    max-width: 1280px;
    margin: auto;
}

.navbar li span {
    font-family: uni;
    font-size: 1.4rem;
    margin: 0 5px;
}

.navbar li.rightside { margin-right: 20px !important } /* Fixes alignement */

#nav-breadcrumbs {
    border: none;
    margin: 5px 0 30px 0;
}

#nav-breadcrumbs .crumb {
    font-family: uni-condensed;
    font-size: 1.2em;
    font-weight: lighter;
}
/* Body */

#page-body {
  background-color: rgba(0, 36, 51, 0.7);
  border-radius: 3px !important;
  padding: 25px 50px;
  margin: 30px 0;
  border: 1px solid #33505C;
}

h3 {
  color: #FF422E;
  border-color: #33505C;
  font-family: uni;
  font-weight: lighter;
}

/* Lists */

.forabg, .forumbg {
  border-radius: 5px 5px 0 0 !important;
  margin-bottom: 10px;
  background: #33505C;
}

.header { padding: 8px 4px 12px 4px }

li.header dd, li.header dt {
  text-shadow: 1px 1px 4px #000;
  font-family: uni-condensed;
}

.topiclist.forums li, .topiclist.topics li {
  background: #011F2C;
  border: none;
  padding: 10px 15px;
}

.topiclist.forums li .list-inner, .topiclist.topics li .list-inner { padding-left: 70px }

.topiclist.forums dd, .topiclist.topics dd {
  border: none;
  color: #FFF;
}

.list-inner { color: #FFF }

.forum_read            { background-image: url("./images/forum_read.gif") }
.forum_read_locked     { background-image: url("./images/forum_read_locked.gif") }
.forum_read_subforum   { background-image: url("./images/forum_read_subforum.gif") }
.forum_unread          { background-image: url("./images/forum_unread.gif") }
.forum_unread_locked   { background-image: url("./images/forum_unread_locked.gif") }
.forum_unread_subforum { background-image: url("./images/forum_unread_subforum.gif") }

.global_read               { background-image: url("./images/global_read.gif") }
.global_read_mine          { background-image: url("./images/global_read_mine.gif") }
.global_unread             { background-image: url("./images/global_unread.gif") }
.global_unread_mine        { background-image: url("./images/global_unread_mine.gif") }

.topic_read               { background-image: url("./images/topic_read.gif") }
.topic_read_mine          { background-image: url("./images/topic_read_mine.gif") }
.topic_read_locked        { background-image: url("./images/topic_read_locked.gif") }
.topic_read_locked_mine   { background-image: url("./images/topic_read_locked_mine.gif") }
.topic_read_hot           { background-image: url("./images/topic_read_hot.gif") }
.topic_read_hot_mine      { background-image: url("./images/topic_read_hot_mine.gif") }
.topic_unread             { background-image: url("./images/topic_unread.gif") }
.topic_unread_mine        { background-image: url("./images/topic_unread_mine.gif") }
.topic_unread_locked      { background-image: url("./images/topic_unread_locked.gif") }
.topic_unread_locked_mine { background-image: url("./images/topic_unread_locked_mine.gif") }
.topic_unread_hot         { background-image: url("./images/topic_unread_hot.gif") }
.topic_unread_hot_mine    { background-image: url("./images/topic_unread_hot_mine.gif") }

/* Topic */

.post {
  background: #080808;
  border: 1px solid #5AB;
  -webkit-box-shadow: inset 0 0 5px 1px #000;
     -moz-box-shadow: inset 0 0 5px 1px #000;
          box-shadow: inset 0 0 5px 1px #000;
  margin: 10px 0;
  -webkit-border-radius: 10px !important;
     -moz-border-radius: 10px !important;
          border-radius: 10px !important;
}

.post .content, .post:target .content {
  color: #FFF;
}

.postprofile, .postprofile strong, .author, .author span {
  color: #888;
  border-color: #888;
}

/* Posting */

#postingbox {
  background: url("images/banner.jpg") repeat fixed;
  border: 1px solid #5AB;
  -webkit-box-shadow: inset 0 0 5px 1px #000;
     -moz-box-shadow: inset 0 0 5px 1px #000;
          box-shadow: inset 0 0 5px 1px #000;
  margin: 10px 0;
  -webkit-border-radius: 10px !important;
     -moz-border-radius: 10px !important;
          border-radius: 10px !important;
}

#postingbox label, #smiley-box {
  color: #FFF;
  text-shadow: 1px 1px 4px #000;
}

#smiley-box div, #smiley-box hr { border-color: #FFF }

#postingbox + .panel { background: none }

#format-buttons select { padding: 1px 5px }

#topicreview + hr { border-color: #5AB }

/* Footer */

#page-footer { background-color: #000 }
